smolagents
requests
pytz
markdownify
duckduckgo_search
pandas
ipykernel
load_dotenv
phi
phidata
groq
phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
pydantic
openai
matplotlib
yahoo_fin
requests_html
yfinance
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
Crawl4AI==0.4.247